*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar{width:1px;height:1px;}
::-webkit-scrollbar-button{width:1px;height:1px;}

body {
	position: relative;
}

.flex-container {
	display: flex;
	justify-content: center;
	height: 100vh;
}

h4 {
	position: fixed;
	bottom: 30px;
	left: 30px;
	color: white;
	background-color: black;
	padding: 15px 20px;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
	z-index: 10;
}

/*index*/

.container {
	width: 600px;
	padding: 50px 0 70px 0;
	align-self: center;
	border: 2px solid black;
	border-radius: 30px;
	font-family: 'Press Start 2P', cursive;
}

.instruction {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.instruction h3, h2, img{
	margin: 20px 0;
}

.instruction h3 {
	font-size: 12px;
	margin-bottom: 40px;
}

.instruction p {
	text-align: left;
	font-size: 10px;
	margin-bottom: 20px;
	line-height: 1.5;
}

.instruction a {
	padding: 15px 25px;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 8px;
	margin-top: 40px;
}

.instruction a:hover {
	background: black;
	color: white;
}








/*first page*/


#loading {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-content: center;
	background: white;
}

#loading img {
	width: 100px;
	height: 100px;
	align-self: center;
}

.menu {
	width: 100vw;
	height: 110px;
	padding-top: 10px;
	z-index: 1;
	position: fixed;
	display: flex;
	justify-content: center;
	background: /*#2b3c89*/white;
	box-sizing: border-box;
	text-align: center;
}

.menu div {
	text-align: center;
}

.menu div h3 {
	font-size: 6px;
	margin: 5px auto;
	display: none;
	font-family: 'Press Start 2P', cursive;
}

.menu img {
	width: 35px;
	margin: 0 30px;
}

.horizontal-scroll-wrapper {
  position:absolute;
  display:block;
  top:0;
  left:0;
  padding: 0;
  width:100vh;
  max-height:100vw;
  margin:0;
  overflow-y:auto;
  overflow-x:hidden;
  transform: rotate(-90deg) translateY(-100vh);
  transform-origin:right top;
}

.horizontal-scroll-wrapper > div {
  display:block;
  background:#cab;
  transform: rotate(90deg) translateX(900px);
  transform-origin: right top;
}

.squares{
  padding: 0;
}

.squares > div{
	position: relative;
  width:900px;
  height:900px;
  margin:0;
}

.horizontal-scroll-wrapper .timesquare1 {
	background: url("images/timesquare1.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .timesquare2 {
	background: url("images/timesquare2.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .timesquare3 {
	background: url("images/timesquare3.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .timesquare4 {
	background: url("images/timesquare4.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .timesquare5 {
	background: url("images/timesquare5.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

/*second*/

.horizontal-scroll-wrapper .shibuya1 {
	background: url("images/shibuya1.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .shibuya2 {
	background: url("images/shibuya2.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .shibuya3 {
	background: url("images/shibuya3.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .shibuya4 {
	background: url("images/shibuya4.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .shibuya5 {
	background: url("images/shibuya5.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .shibuya6 {
	background: url("images/shibuya6.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

/*third*/

.complete {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.end {
	display: none;
	position: fixed;
	z-index: 10;
	align-self: center;
	background: white;
	border: 4px solid black;
	border-radius: 15px;
	width: 600px;
	margin: 0;
	padding: 20px 140px 50px 140px;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}

.end h2 {
	margin-top: 15px;
	font-size: 15px;
}

.end h3 {
	margin: 10px 0;
	font-size: 8px;
	line-height: 1.5;
}

.end a {
	color: black;
	text-decoration: none;
	display: inline-block;
	padding: 10px 15px;
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 8px;
}

.end a:hover {
	background: black;
	color: white;
}

.horizontal-scroll-wrapper .london1 {
	background: url("images/london1.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .london2 {
	background: url("images/london2.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .london3 {
	background: url("images/london3.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .london4 {
	background: url("images/london4.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .london5 {
	background: url("images/london5.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.horizontal-scroll-wrapper .london6 {
	background: url("images/london6.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}