*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background: black fixed;
}

.landing {
  width: 100vw;
  height: 100vh;
  padding: 36vh 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.landing .title {
  font-size: 5em;
  font-variant: small-caps;
  text-shadow: 0 0 25px #f9d929;
}

.landing p {
  font-size: 1.5em;
  font-weight: lighter;
  text-shadow: 0 0 20px #f9d929;
}

.footer {
  width: 100vw;
  height: 100vh;
  padding: 36vh 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.footer .ending {
  font-size: 5em;
  font-variant: small-caps;
}

.footer p {
  font-size: 1.5em;
  font-weight: lighter;
}



.menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 31;
  
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #434343;
  border-radius: 3px;
}

.main-nav .menu {
  display: none;
  position: fixed;
  width: 400px;
  height: 100vh;
  background: white;
  z-index: 30;
}

.main-nav .menu div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 15% 10%;
}

.main-nav .menu div .star {
  width: 35%;
  height: 10%;
  margin: 5px 10px;
}

.main-nav .menu div .star img {
  display: block;
  position: relative;
  width: 80px;
  height: auto;
}




.section {
  overflow: hidden;
  position: relative;
  perspective: 2px;
  height: 1000px;
  width: 1000px;
  margin: 300px auto;
}

.section > div {
  position: relative;
  width: 100%;
  height: 600px;
}

.section > div .dropzone {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
}

.section .aquarius .dropzone,
.section .gemini .dropzone,
.section .libra .dropzone {
  top: 40px;
  left: 40px;
  background: white;
}

.section .aries .dropzone,
.section .leo .dropzone,
.section .sagittarius .dropzone {
  top: 40px;
  right: 40px;
  background: white;
}

.section .pisces .dropzone,
.section .cancer .dropzone,
.section .scorpio .dropzone {
  bottom: 40px;
  right: 40px;
  background: white;
}

.section .taurus .dropzone,
.section .virgo .dropzone,
.section .capricon .dropzone {
  bottom: 40px;
  left: 40px;
  background: white;
}

.section .space {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/space.png");
  background-size: cover;
  z-index: -1;
}

.section .aquarius {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/aquarius.png") no-repeat;
  background-size: cover;
  z-index: 0;
}

.section .pisces {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/pisces.png") no-repeat;
  background-size: cover;
  z-index: 1;
}

.section .aries {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/aries.png") no-repeat;
  background-size: cover;
  z-index: 0;
}

.section .taurus {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/taurus.png") no-repeat;
  background-size: cover;
  z-index: 1;
}

.section .gemini {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/gemini.png") no-repeat;
  background-size: cover;
  z-index: 0;
}

.section .cancer {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/cancer.png") no-repeat;
  background-size: cover;
  z-index: 1;
}

.section .leo {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/leo.png") no-repeat;
  background-size: cover;
  z-index: 0;
}

.section .virgo {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/virgo.png") no-repeat;
  background-size: cover;
  z-index: 1;
}

.section .libra {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/libra.png") no-repeat;
  background-size: cover;
  z-index: 0;
}

.section .scorpio {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/scorpio.png") no-repeat;
  background-size: cover;
  z-index: 1;
}

.section .sagittarius {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/sagittarius.png") no-repeat;
  background-size: cover;
  z-index: 0;
}

.section .capricon {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("images/capricon.png") no-repeat;
  background-size: cover;
  z-index: 1;
}

.section > div .dropzone.drop-target {
  background: blue;
}